<div>
  <b title="Amount invested">$32k</b>
  <label title="Amount invested">20 shares</label>
</div>
<div>
  <b title="Projected annual earnings">$3.84k</b>
  <label title="Projected annual earnings">12% APR</label>
</div>