<div id="timeline-content" class="tab-content side-tab-content">
  <ul class="feed">
    <li>
    <div class="profile-badge">
      <div>
        <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="img/mart.png"></a>
        <div class="focus"></div>
      </div>
    </div>
    <div class="entry">
      <h5 class="entry-title"><a href="index-p=investor&i=kadri.html">Mart</a> and <a href="javascript:void(0)">1 other friend</a> invested in <a href="index-p=project&project=1800-van-ness.html" title="1800 Van Ness">1800 Van Ness</a></h5>
      <div class="entry-content">
        <div class="profile-badge project">
          <div>
            <a href="index-p=project&project=1800-van-ness.html" title="1800 Van Ness"><img src="img/1800-van-ness.png"></a>
            <div class="focus"></div>
          </div>
        </div>
      </div>
      <div class="entry-meta">
        <div class="profile-badge">
          <div>
            <a href="index-p=investor&i=michael.html" title="Michael Walsh"><img src="img/michael.png"></a>
            <div class="focus"></div>
          </div>
        </div>
        <time>2 days, 7 hours ago</time>
      </div>
    </div>
    </li>
    <li>
    <div class="profile-badge">
      <div>
        <a href="index-p=investor&i=kadri.html" title="Kadri Liis R채채k"><img src="img/kadri.png"></a>
        <div class="focus"></div>
      </div>
    </div>
    <div class="entry">
      <h5 class="entry-title" title="Kadri Liis R채채k"><a href="index-p=dashboard.html#">Kadri</a> joined Flock</h5>
      <div class="entry-meta">
        <time>3 days, 2 hours ago</time>
      </div>
    </div>
    </li>
  </ul>

</div>
