.well{:style => "padding: 8px 0;"}
  %ul.nav.nav-list
    %li.nav-header
      Estates
    %li.active
      %a{:href => dashboard_path}
        %i.icon-white.icon-home
        Dashboard
    %li
      %a{:href => "projects.htm"}
        %i.icon-folder-open
        Projects
    %li
      %a{:href => "tasks.htm"}
        %i.icon-check
        Tasks
    %li
      %a{:href => dashboard_messages_path}
        %i.icon-envelope
        Messages
    %li
      %a{:href => "files.htm"}
        %i.icon-file
        Files
    %li
      %a{:href => "activity.htm"}
        %i.icon-list-alt
        Activity
    %li.nav-header
      Your Account
    %li
      %a{:href => edit_user_registration_path}
        %i.icon-user
        Profile
    %li
      %a{:href => "settings.htm"}
        %i.icon-cog
        Settings
    %li.divider
    %li
      %a{:href => "help.htm"}
        %i.icon-info-sign
        Help
    %li.nav-header
      Bonus Templates
    %li
      %a{:href => "gallery.htm"}
        %i.icon-picture
        Gallery
    %li
      %a{:href => "blank.htm"}
        %i.icon-stop
        Blank Slate