%link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", :rel => "stylesheet"}
.container
  %section#register
    .hgroup
      %h1 Register or Sign in
    .row
      .signin.span6
        = render partial: 'sign_in'
      .signup.span6
        = render partial: 'sign_up'

