<div id='tab4' class="tab" style="display: none;">  
  <div class="module">
    <header class="module-section module-header">
      <h2>Review Your Order</h2>
    </header>
    <section class="module-section">
      <p>Please double check to ensure that all fields have been filled out correctly before you place your order.</p>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Account Details&nbsp;&nbsp;</h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody>
          <tr>
            <td class="muted">Full Name</td>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <td class="muted">Email Address</td>
            <td><%= current_user.email %></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Investor Profile&nbsp;&nbsp;<a style="line-height: 1;" class="small underline" id="edit_info">edit this info</a></h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody>
          <tr>
            <td class="muted">Mailing Address</td>
            <td id="address"></td>
          </tr>

          <tr>
            <td class="muted">City</td>
            <td id="city1"></td>
          </tr>
          <tr>
            <td class="muted">Country</td>
            <td id="country"></td>
          </tr>
          <tr id="hidden_field_state" style="display: none;">
            <td class="muted">State</td>
            <td id="state"></td>
          </tr>
          <tr>
            <td class="muted">ZIP Code</td>
            <td id="zip1"></td>
          </tr>
          <tr>
            <td class="muted">Phone Number</td>
            <td id="phone_number"></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Signed Agreements</h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody>
          <tr>
            <td>
              <a href="/offerings/3/documents/3400-Georgia-Avenue-Investments-I-LLC-Agreement">
                LLC Agreement of 3400 Georgia Avenue Investments I LLC
              </a>
              <br>
              <span class="small muted">
                Signed by Alexander Korsak on Jul 18, 2013
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/offerings/3/documents/3400-Georgia-Avenue-Investments-I-LLC-Investor-Letter">
                3400 Georgia Avenue Investments I LLC Investor Letter
              </a>
              <br>
              <span class="small muted">Signed by Alexander Korsak on Jul 18, 2013</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="module">
    <section class="module-section">
      <%= f.submit "Place Order", class: "button button-blue" %>
      <button class="button" id="go_back2">Go Back</button>
    </section>
  </div>
</div>