<div id="tab2" class="tab" style="display: none;">
  <div class="module">
    <header class="module-section module-header">
      <h2>Specify Order Quantity</h2>
    </header>         
    <section class="module-section">
      <div id="checkout-order-form">
        <div class="meta-horizontal items-3">
          <div id="checkout-order-form-quantity" class="item">
            <div class="metric">Quantity</div>
            <input id="numberOfShares" name="numberOfShares" class="order-form-field" pattern="[1-9][0-9]*" data-message="Please enter in a valid number of shares to purchase" type="text" value="" maxlength="3">
            <div class="math-symbol">×</div>
          </div>
          <div id="checkout-order-form-price" class="item">
            <div class="metric">Price / Share</div>
            <div class="order-form-field value">$10,000</div>
            <div class="math-symbol">=</div>
          </div>
          <div id="checkout-order-form-total" class="item">
            <div class="metric">Total Investment</div>
            <div class="order-form-field value"></div>
          </div>
        </div>
      </div>
      <div id="checkout-order-form-instructions" class="small muted"></div>
    </section>          
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Offering Documentation</h2>
    </header>
    <section class="module-section">
      <p>To invest in this project you must confirm receipt and indicate agreement with the following documents.</p>
      <ul class="radio-checkbox-list">
        <li>
          <label class="radio-checkbox-label">
            <input type="checkbox" required="required">I have reviewed and agree to the 
            <a class="doc-link" href="/offerings/5/documents/3400-Georgia-Avenue-Investments-I-LLC-Agreement" target="_blank">LLC Agreement of 3400 Georgia Avenue Investments I LLC</a>
          </label>
        </li>
        <li>
          <label class="radio-checkbox-label">
            <input type="checkbox" required="required">I have reviewed and agree to the 
            <a class="doc-link" href="/offerings/5/documents/3400-Georgia-Avenue-Investments-I-LLC-Investor-Letter" target="_blank">3400 Georgia Avenue Investments I LLC Investor Letter</a>
          </label>
        </li>
      </ul>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Investment Acknowledgments</h2>
    </header>         
    <section class="module-section">
      <p>To invest in this project you must confirm receipt and indicate agreement with the following:</p>
      <ul class="radio-checkbox-list">
        <li>
          <label class="radio-checkbox-label">
            <input type="checkbox" required="required">
            I have sufficient knowledge and experience in financial and business matters so as to be 
            capable of evaluating the merits and risks associated with investing in 3400 Georgia Avenue Investments I LLC. 
          </label>
        </li>
        <li>
          <label class="radio-checkbox-label">
            <input type="checkbox" required="required">
            I understand the nature of an investment in 3400 Georgia Avenue Investments I LLC and the risks associated 
            with such an investment.
          </label>
        </li>
        <li>
          <label class="radio-checkbox-label">
            <input type="checkbox" required="required">
            I understand that there is no guarantee of any financial return on this investment and that 
            I run the risk of losing my entire investment.
          </label>
        </li>
        <li>
          <label class="radio-checkbox-label">
            <input type="checkbox" required="required">
            I acknowledge that I have the right, will be afforded an opportunity, and am encouraged to 
            investigate 3400 Georgia Avenue Investments I LLC and review relevant records, agreements, and documents pertaining to 
            3400 Georgia Avenue Investments I LLC and its business and to ask questions, and receive answers, of a qualified 
            representative of the 3400 Georgia Avenue Investments I LLC regarding this investment and the operations and method 
            of doing business of 3400 Georgia Avenue Investments I LLC.
          </label>
        </li>
        <li>
          <label class="radio-checkbox-label">
            <input type="checkbox" required="required">
            Before making an investment decision with respect to the Investment, I have been advised to carefully read the 3400 Georgia Avenue Investments I, LLC agreement that will govern the Investment (the “Documents”) and the related subscription documents.
          </label>
        </li>
      </ul>           
    </section>
  </div>
  <div class="module">                
    <div class="module-section form-actions">
      <button class="button button-blue" type="submit">Continue</button>
    </div>
  </div>
</div>
