<div id="tab1" class="tab">
  <div class="module">
    <header class="module-section module-header">
      <h2>Specify Order Quantity</h2>
    </header>
    <section class="module-section">
      <div id="checkout-order-form">
        <div class="meta-horizontal items-3">
          <div id="checkout-order-form-quantity" class="item">
            <div class="metric">Quantity</div>
            <input id="numberOfShares" name="numberOfShares" class="order-form-field" pattern="[1-9][0-9]*" data-message="Please enter in a valid number of shares to purchase" type="text" value="" maxlength="3">
            <div class="math-symbol">×</div>
          </div>
          <div id="checkout-order-form-price" class="item">
            <div class="metric">Price / Share</div>
            <div class="order-form-field value"><%= number_to_currency(@project.per_share)%></div>
            <div class="math-symbol">=</div>
          </div>
          <div id="checkout-order-form-total" class="item">
            <div class="metric">Total Investment</div>
            <div class="order-form-field value"></div>
          </div>
        </div>
      </div>
      <div id="checkout-order-form-instructions" class="small muted"></div>
    </section>
  </div>
  <div class="module">
    <div class="module-section form-actions">
      <button class="button button-blue" id="button1">Continue</button>
    </div>
  </div>
</div>
