<div id='tab4' class="tab" style="display: none;" >
  <div class="module">
    <header class="module-section module-header">
      <h2>Select Payment Method</h2>
    </header>
    <section class="module-section">
      <a class="button button-blue" href="ach-payment">Pay with Electronic Check</a>
      <a class="button button-blue" href="wire-payment">Pay using Wire Transfer</a>
      <a class="button" href="investor-profile-form">Back</a>
    </section>
  </div>
</div>
<div class="wiretransfer" style="display: none;">
  <div class="module">
    <header class="module-section module-header">
      <h2>Wiring Instructions</h2>
    </header>
    <section class="module-section">
      <p>
        <strong>These wiring instructions will be emailed to you after your order is placed.</strong>
      </p>
      <p>
        Bank: Wells Fargo<br> 
        Bank Address: 420 Montgomery St. 9th Floor San Francisco, CA 94104<br>
        Routing Number: 121000248<br> 
        DDA#: 4120280300<br> 
        For the Benefit Of (FBO): Alexander Korsak<br>
        Reference: Fundrise 906 H Street NE LLC - Order ID #1434
      </p>
    </section>
  </div>
  <div class="module module-subdued">
    <div class="module-section form-actions">
      <button class="button button-blue" type="submit">Continue</button>
      <a class="button" href="order-form">Go Back</a>
    </div>
  </div>
</div>