<div class="invests" style="display: none;">  
  <div class="module">
    <header class="module-section module-header">
      <h2>Review Your Order</h2>
    </header>
    <section class="module-section">
      <p>Please double check to ensure that all fields have been filled out correctly before you place your order.</p>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Account Details&nbsp;&nbsp;</h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody><tr>
          <td class="muted">First Name</td>
          <td>Alexander</td>
        </tr>
        <tr>
          <td class="muted">Last Name</td>
          <td>Korsak</td>
        </tr>
        <tr>
          <td class="muted">Email Address</td>
          <td>alex.korsak@gmail.com</td>
        </tr>
      </tbody></table>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Investor Profile&nbsp;&nbsp;<a style="line-height: 1;" class="small underline" href="investor-profile-form">edit this info</a></h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody><tr>
          <td class="muted">Mailing Address</td>
          <td>100 Howard St</td>
        </tr>

        <tr>
          <td class="muted">City</td>
          <td>San Francisco</td>
        </tr>
        <tr>
          <td class="muted">State</td>
          <td>District of Columbia</td>
        </tr>
        <tr>
          <td class="muted">ZIP Code</td>
          <td>94105</td>
        </tr>
        <tr>
          <td class="muted">Phone Number</td>
          <td>4157068530</td>
        </tr>
      </tbody></table>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Accreditation</h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody>

        </tbody>
      </table>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Signed Agreements</h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody>
          <tr>
            <td>
              <a href="/offerings/3/documents/3400-Georgia-Avenue-Investments-I-LLC-Agreement">
                LLC Agreement of 3400 Georgia Avenue Investments I LLC
              </a>
              <br>
              <span class="small muted">
                Signed by Alexander Korsak on Jul 18, 2013
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/offerings/3/documents/3400-Georgia-Avenue-Investments-I-LLC-Investor-Letter">
                3400 Georgia Avenue Investments I LLC Investor Letter
              </a>
              <br>
              <span class="small muted">Signed by Alexander Korsak on Jul 18, 2013</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="module">
    <header class="module-section module-header">
      <h2>Wiring Instructions&nbsp;&nbsp;<a style="line-height: 1;" class="small underline" href="select-payment-method">edit this info</a></h2>
    </header>
    <section class="module-section">
      <table class="table-bordered checkout-review">
        <tbody><tr>
          <td class="muted">Bank</td>
          <td>Wells Fargo</td>
        </tr>
        <tr>
          <td class="muted">Bank Address</td>
          <td>420 Montgomery St. 9th Floor<br>San Francisco, CA 94104</td>
        </tr>
        <tr>
          <td class="muted">Routing Number</td>
          <td>121000248</td>
        </tr>
        <tr>
          <td class="muted">DDA#</td>
          <td>4120280300</td>
        </tr>
        <tr>
          <td class="muted">For the Benefit Of (FBO)</td>
          <td>Alexander Korsak</td>
        </tr>
        <tr>
          <td class="muted">Reference</td>
          <td>Fundrise 906 H Street NE LLC Order ID #1434</td>
        </tr>
      </tbody></table>
    </section>
  </div>
  <div class="module">
    <section class="module-section">
      <a href="submit-order" class="button button-blue">Place Order</a>
      <a href="select-payment-method" class="button">Go Back</a>
    </section>
  </div>
</div>