<div>
  <div id="tab-1" class="feed-wrapper">

    <ul class="feed">
      <li>
      <div class="profile-badge">
        <div>
          <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="/assets/kadri.png"></a>
          <div class="focus"></div>
        </div>
      </div>
      <div class="entry">
        <h5 class="entry-title"><a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk">Kadri</a> and 2 other friends invested in <a href="index-p=project&project=1800-van-ness.html" title="1800 Van Ness">1800 Van Ness</a></h5>
        <div class="entry-content">
          <div class="profile-badge project">
            <div>
              <a href="index-p=project&project=1800-van-ness.html" title="1800 Van Ness"><img src="/assets/1800-van-ness.png"></a>
              <div class="focus"></div>
            </div>
          </div>
        </div>
        <div class="entry-meta">
          <div class="profile-badge">
            <div>
              <a href="index-p=investor&i=mart.html" title="Mart Uibo"><img src="/assets/mart.png"></a>
              <div class="focus"></div>
            </div>
          </div>
          <div class="profile-badge">
            <div>
              <a href="index-p=investor&i=michael.html" title="Michael Walsh"><img src="/assets/michael.png"></a>
              <div class="focus"></div>
            </div>
          </div>
          <time>2 days, 7hours ago</time>
        </div>
      </div>
      </li>
      <li>
      <div class="profile-badge">
        <div>
          <a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk"><img src="/assets/kadri.png"></a>
          <div class="focus"></div>
        </div>
      </div>
      <div class="entry">
        <h5 class="entry-title"><a href="index-p=investor&i=kadri.html" title="Kadri Liis Rääk">Kadri</a> joined Flock</h5>
        <div class="entry-meta">
          <time>2 days, 7hours ago</time>
        </div>
      </div>
      </li>
    </ul>

  </div>
</div>
