.container.container-page
  .tier.x12.page
    .blog-body
      .blog-item.clearfix
        .left.image
          = @user.avatar.pres
        .left.text
          1. Create an account and get qualified as an investor: Flock membership is free and gives you insider access to invest in real estate that is pre-screened by the Flock team. You will also benefit from low minimums, starting at $1,000, compared to $50k - $100k for traditional real estate investments. Flock is currently open to accredited and international investors. To be an accredited investor requires a minimum income and/or net worth. The sign up process for Flock verifies the accreditation of its members.
        .clear

