<section id="intro">
  <div id="slideshow" class="grid-1-1 no-padding" >
    <div>
      <div style="
        background-image: url(<%= image_path('img/intro-3-434391.jpg') %>);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        ">
        <h1 class="title">Build a real estate portfolio online</h1>
        <h6>Get access to exclusive investments and manage your portfolio using Flock.</h6>

        <div class="action">
          <button onclick="Turbolinks.visit('<%=page_path("howto")%>')" class="how-it-works faded">Watch how &nbsp;&nbsp;<span>1:45 min</span></button>
        </div>
      </div>
    </div>
  </div>
</section>

<sectipn class="home-listing">
  <div class="listing-head"><h5 class="listing-heading"><label>Featured Investments</label><span><a href="<%= projects_path %>">View all</a></span></h5></div>
  <div class="gridwrap">
    <%= render @projects %>
  </div>
</section>

