%section#intro
  .gridwrap
    #slideshow.grid-1-1.no-padding
      %img{:src => "http://flockcapital.com/img/xsf-housing.jpg.pagespeed.ic.LgUeSLDJBi.jpg", :style => "margin: 0px;"}
%section.home-listing
  .listing-head
    %h4
      %label Local
      %span
        %a{:href => "projects.php?show=all-local"} See all Local
  .gridwrap
    %article.project-badge.new{:onclick => "location.href='project.php'"}
      %div
        %header
          %a{:href => "project.php"}
            %img{:src => "http://flockcapital.com/img/xdummy-thumb-soma-grand.jpg.pagespeed.ic.EbsrIAE3Gk.jpg"}
              .thumbfocus
          %hgroup
            %h3
              %a{:href => "project.php"}
                Project Name
                %label.type Residential
            %h4 $32,000,000
        .goalmeter
          .progress{:style => "width:66%"}
            .marker{:style => "left:66%;"}
              %label 66%
        %ul.meta
          %li.developer Developer: Broadgate Capital
          %li.target-return Target return 12%
    %article.project-badge.new{:onclick => "location.href='project.php'"}
      %div
        %header
          %a{:href => "project.php"}
            %img{:src => "http://flockcapital.com/img/xdummy-thumb-soma-grand.jpg.pagespeed.ic.EbsrIAE3Gk.jpg"}
              .thumbfocus
          %hgroup
            %h3
              %a{:href => "project.php"}
                Project Name
                %label.type Residential
            %h4 $32,000,000
        .goalmeter
          .progress{:style => "width:66%"}
            .marker{:style => "left:66%;"}
              %label 66%
        %ul.meta
          %li.developer Developer: Broadgate Capital
          %li.target-return Target return 12%
    %article.project-badge.new{:onclick => "location.href='project.php'"}
      %div
        %header
          %a{:href => "project.php"}
            %img{:src => "http://flockcapital.com/img/xdummy-thumb-soma-grand.jpg.pagespeed.ic.EbsrIAE3Gk.jpg"}
              .thumbfocus
          %hgroup
            %h3
              %a{:href => "project.php"}
                Project Name
                %label.type Residential
            %h4 $32,000,000
        .goalmeter
          .progress{:style => "width:66%"}
            .marker{:style => "left:66%;"}
              %label 66%
        %ul.meta
          %li.developer Developer: Broadgate Capital
          %li.target-return Target return 12%
    %article.project-badge.new{:onclick => "location.href='project.php'"}
      %div
        %header
          %a{:href => "project.php"}
            %img{:src => "http://flockcapital.com/img/xdummy-thumb-soma-grand.jpg.pagespeed.ic.EbsrIAE3Gk.jpg"}
              .thumbfocus
          %hgroup
            %h3
              %a{:href => "project.php"}
                Project Name
                %label.type Residential
            %h4 $32,000,000
        .goalmeter
          .progress{:style => "width:66%"}
            .marker{:style => "left:66%;"}
              %label 66%
