<section id="intro">
  <div id="slideshow" class="grid-1-1 no-padding" >
    <div>
      <div class="bg"></div>
      <div class="fg">

        <h1 class="title">Build a real estate portfolio online</h1>
        <p>Get access to exclusive investments and manage your portfolio using Flock.</p>
        <% unless current_user.present? %>
          <div class="action">
            <a href="<%= new_user_registration_path %>" class="button sign-up sign-in elevated fancybox.ajax">Sign Up</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="home-listing" ng-controller='ProjectsListingController'>
  <div class="listing-head"><h5 class="listing-heading"><label>Featured Investments</label><span><a href="<%= projects_path %>">View all</a></span></h5></div>
  <div class="gridwrap">
    <%= render partial: 'projects/project', collection: @projects, locals: { class_name: "full" } %>
  </div>
</section>

