<section id="intro">
  <div id="slideshow" class="grid-1-1 no-padding" >
    <div>
      <div class="bg" style="display: none"></div>
      <div class="fg">
        <h1 class="title">Invest in real estate online</h1>
        <% unless current_user.present? %>
          <div class="action">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="home-listing" ng-controller='ProjectsListingController'>
  <div class="listing-head"><h5 class="listing-heading"><label>Featured Investments</label><span><a href="<%= projects_path %>">View all</a></span></h5></div>
  <div class="gridwrap">
    <%= render partial: 'projects/project', collection: @projects, locals: { class_name: "full", image_size: :home, :long_term => true } %>
  </div>
</section>
<script>
window.setTimeout(function() {
    $('.bg').fadeIn();
}, 100);
</script>
