%table.table.table-hover
  %thead
    %tr
      %th Project name
      %th Price, $
      %th Owner
      %th Actions

  %tbody
    = render partial: 'project', collection: collection

= link_to "Back to Admin", admin_path


