<div id="sign-in">
  <div class="modal-content">
    <div>
      <img class="logo" src="/g/flockinvest-logo.svg">
      <h1>Get in touch</h1>
        <form>
          <input type="text" placeholder="Full Name" size="1"/>
          <input type="email" placeholder="E-mail" size="1"/>
          <textarea placeholder="Your text" rows="4"></textarea>
          <div class="action">
            <div>
              <div>

              </div>
              <div>
                <input type="submit" class="delta thicker" value="Send!">
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>