<% if user_signed_in? %>
  <a href="<%= new_project_investment_path(@project) %>">
    <button class="elevated">Purchase Shares</button>
  </a>
<% else %>
  <a href="<%= new_user_registration_path %>" class="sign-in log-in fancybox.ajax">
    <button class="elevated">Purchase Shares</button>
  </a>
  <a href="<%= new_project_investment_path(@project) %>">
    <button class="elevated" style='display: none'>Purchase Shares</button>
  </a>
<% end %>
