<% if user_signed_in? %>
  <button class="labelled {{className}}"title="{{followText}}" ng-click="follow($event)">{{followText}}</button>
<% else %>
  <a href="<%= new_user_registration_path %>" class="sign-in fancybox.ajax">
    <button class="track labelled" >Track</button>
  </a>
  <button class="{{className}} labelled" style="display: none;" title="{{followText}}" ng-click="follow($event)">{{followText}}</button>
<% end %>
