<section>

  <div class="listing-filter">
    <div>
      <ul>
        <li>
          <% tag_cloud Project.tag_counts, %w[s m l] do |tag| %>
            <%= link_to tag.name.camelcase, tag_path(tag.name) %>
          <% end %>
        </li>
        <li>
          <a class="current" href="<%= projects_path %>">All</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="projects" class="gridwrap">
    <%= render @projects %>
  </div>

  <div id="projects" class="gridwrap">
    <%= will_paginate @projects %>
  </div>

</section>

