<section>
  <div id="projects" class="gridwrap">
    <%= render partial: 'projects/project', collection: @projects, locals: { class_name: "full" } %>
  </div>

  <div id="projects" class="gridwrap">
    <%= paginate @projects %>
  </div>
</section>

