<div class="tier x12 blog-sub-header">
</div>
  <div class="blog-body">
    <div class="blog-item clearfix">
      <h2>
        <a href="#"><%= post.title %></a>
      </h2>
      <div class="byline">
        <span class="date">
          <%= post.created_at %>
        </span>
      </div>
      <% if post.post_image? %>
        <a href="#">
          <img class="list-featured-image" src="<%= post.post_image_url %>">
        </a>
      <% end %>
      <p><%= post.content.html_safe %></p>
    </div>
  </div>
