/*
 *= require bootstrap-responsive
 *= require circle_image
 */

.message {
  padding: 15px;
  border-top: 1px solid #666;
}

.message:last-child {
  border-bottom: 1px solid #666;
}

.message.unread {
  color: red;
}
 