input.error {
  border-color: #a01d2b;
}
.error-message {
  display: inline-block;
  position: relative;
  margin-top: 7px;
  padding: 7px;
  background: #a01d2b;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}
.error-message:after {
  position: absolute;
  top: -12px;
  left: 10px;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent transparent #a01d2b transparent;
}
.radio-checkbox-list .error-message {
  margin-left: 20.93px;
}
@media screen and (min-width: 1001px) {
  .field-group .fields .error-message {
  position: absolute;
  left: 100%;
  top: 2px;
  margin-top: 0;
  margin-left: 12px;
  white-space: nowrap;
}
.field-group .fields .error-message:after {
  position: absolute;
  top: 6px;
  left: -12px;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent #a01d2b transparent transparent;
}
}

