@font-face {
    font-family: 'ips-renner';
    src: url('ips-renner-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'entypo';
    src: url('entypo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-lightit-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-reg-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-regit-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-boldit-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-xbold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

