.imagery {
	background: url('/images/loader.gif') 50% 50% no-repeat !important;
	display: block-inline;
	border: none;
}

.imagery.logo {
	width: 1014px;
	height: 517px;
}

.imagery.holder {
  width: 309px;
  height: 154px;
}

.img.logo {
  width: 192px;
  height: 120px;
}
