section.home-listing .item { margin-bottom: 30px }
section.home-listing .item .left { float: left; }
section.home-listing .item .left.image { width: 280px; }
section.home-listing .item .left.text { width: 70%; }

.clear { clear: both; }

