section.how .item { margin-bottom: 30px }
section.how .item .left { float: left; }
section.how .item .left.image { width: 280px; }
section.how .item .left.text { width: 70%; }

.clear { clear: both; }

#contact_message { width: 99.8%; }

.project-badge .financials ul.size-6, .project-badge .financials div.size-6 { float: left; }

.loader { position: absolute; top: 65px; right: -25px; }
.mini .loader { top: 35px; }

.projects .project-badge .project-thumb img { width: 369px; height: 184px; }

