%section
  .gridwrap
    .grid-1-1
      %img{:src => "http://flockcapital.com/img/xprocess.png.pagespeed.ic.D46wIDPsp2.png", :style => "width:100%; height:auto;"}
%div{:style => "display:none;"}
  %section
    .gridwrap
      .grid-1-3
        %div
      .grid-1-3
        %div
      .grid-1-3
        %div
  %section
    .gridwrap
      .grid-1-3
        %div
      .grid-2-3
        %div
  %section
    .gridwrap
      .grid-1-4
        %div
      .grid-1-4
        %div
      .grid-1-4
        %div
      .grid-1-4
        %div
  %section
    .gridwrap
      .grid-1-4
        %div
      .grid-3-4
        %div
/ #main
%footer