<div class="quicknav">
  <div>
    <ul>
      <li><a href="javascript:void(0)">Sitemap</a></li>
      <li><a href="javascript:void(0)">About Us</a></li>
      <li><a href="<%= new_contact_path %>" class="get-in-touch fancybox.ajax">Contact Us</a></li>
      <li><a href="javascript:void(0)">Jobs</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">LinkedIn</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
    </ul>
  </div>
  <div>
    <form id="newsletter-subscription-form">
      <input type="email" placeholder="you@somewhere.com"><button></button>
      <p>Subscribe to our monthly newsletter and stay up to date with what's cookin'</p>
    </form>
  </div>
</div>

<div class="hr"></div>
<div class="boilerplate">
  <div>
    <p><span>©2013 Flockinvest LLC. All Rights Reserved.</span> <a href="javascript:void(0)">Privacy Policy</a><a href="javascript:void(0)">Terms of Use</a><a href="javascript:void(0)">Legal Notices</a></p>
  </div>
  <div class="logo">
    <a href="<%= root_path %>">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="100%" height="100%" viewBox="0 0 603.088 384.71" enable-background="new 0 0 603.088 384.71" xml:space="preserve">
        <path id="bird" fill="#29b471" d="M499.567,216.219c-8.389,0-18.046,6.968-30.274,15.787c-7.682,5.539-16.388,11.82-26.155,17.313 c-74,41.625-155.265,62.732-241.534,62.734c-62.207,0.004-126.541-11.266-191.407-33.514 c102.311-1.014,151.86-15.451,180.466-26.406l4.281-1.641l-4.114-2.021c-25.71-12.643-49.974-29.279-72.258-49.529 c0.343,0.146,0.687,0.285,1.033,0.423l18.271,6.889l7.731,2.906l65.546,21.957l-63.149-27.939l-8.511-4.141l-16.207-7.908 c-0.451-0.229-0.928-0.483-1.404-0.739L98.48,177.913c-0.819-0.438-1.612-0.896-2.394-1.352 c-14.904-16.227-28.854-34.405-41.544-54.127c0.494,0.314,0.989,0.627,1.487,0.94l12.601,7.79l12.625,7.494 c1.078,0.645,2.169,1.262,3.25,1.871c0.563,0.319,10.988,6.244,10.988,6.244l9.466,5.143c2.201,1.198,4.28,2.329,6.176,3.289 l52.761,27.329l-50.305-31.647c-1.768-1.089-3.716-2.371-5.779-3.728l-8.957-5.882c0,0-9.832-6.73-10.374-7.1 c-0.992-0.676-1.995-1.358-2.99-2.071l-11.87-8.456l-11.787-8.729c-1.971-1.482-3.916-2.98-5.828-4.453 c-1.072-0.824-2.133-1.642-3.184-2.445l-4.304-3.307l-4.046-3.207l-4.708-3.75C24.449,70.275,11.09,39.786,0,7.026 c117.483,112.355,228.721,169.32,330.707,169.326c0.005,0,0.01,0,0.016,0c11.815,0,23.657-0.78,35.198-2.319l0.29-0.039l0.268-0.121 c13.629-6.139,22.648-13.496,30.607-19.986c13.378-10.911,24.932-20.334,53.787-20.334c22.254,0,37.709,9.34,47.247,28.551 c6.968,14.038,10.61,33.084,11.094,58.104C506.423,217.532,503.232,216.219,499.567,216.219z M587.035,77.586l-0.729,1.042 l-2.657,3.644c-1.182,1.66-2.459,3.318-3.692,4.923c-0.629,0.817-1.26,1.638-1.883,2.462c-1.205,1.569-2.482,3.149-3.718,4.678 c-0.689,0.854-1.377,1.704-2.057,2.556c-1.222,1.486-2.476,2.962-3.709,4.413c-0.699,0.822-1.391,1.637-2.07,2.445 c-1.198,1.396-2.416,2.752-3.6,4.068c-0.672,0.748-1.334,1.484-1.977,2.211c-1.215,1.393-2.434,2.672-3.61,3.91 c-0.519,0.544-1.024,1.076-1.514,1.6c-0.573,0.596-1.145,1.203-1.692,1.788c-0.943,1.005-1.836,1.954-2.676,2.77l-33.572,33.407 l36.875-29.696c0.991-0.776,2.025-1.669,3.12-2.613c0.589-0.508,1.196-1.033,1.831-1.567c0.546-0.473,1.089-0.936,1.645-1.408 c1.353-1.15,2.75-2.34,4.175-3.662c0.688-0.631,1.409-1.279,2.141-1.939c1.359-1.227,2.762-2.49,4.164-3.814 c0.756-0.727,1.51-1.445,2.271-2.172c0.933-0.889,1.875-1.787,2.818-2.699c-13.814,31.562-32.615,59.971-55.999,84.6 c-8.42-28.841-23.183-47.653-43.948-56.012c44.692-28.716,77.428-66.412,97.187-93.293C588.318,19.961,597.98,3.396,603.088-6 C601.215,23.082,595.826,51.156,587.035,77.586z"/>
      </svg>
    </a>
  </div>
</div>


