<form id='newsletter-subscription-form' ng-submit='submit()' ng-controller='SubscriptionsController'>
  <input type="email" ng-model='email' placeholder="you@somewhere.com" required><button></button>
  <p>Subscribe to our monthly newsletter and stay up to date with what's cookin'</p>
</form>

