/*	Icobundl — 'icobundl'
	http://fontello.com/
—————————————————————————————————————————————————————————————————————————— */
@font-face {
    font-family: 'icobundl';
    src: url('../f/icobundl.woff') format('woff');
}



/*	Entypo — 'entypo', 'entypo-social'
—————————————————————————————————————————————————————————————————————————— */
@font-face {
    font-family: 'entypo';
    src: url('../f/entypo.woff') format('woff');
}

@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-25xthin.woff') format('woff');
    font-weight: 100;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-26xthinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-35thin.woff') format('woff');
    font-weight: 200;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-36thinitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-45light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-46lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-55roman.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-56romantalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-65medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-66mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-75bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-76bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-95black.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'neue-haas-grotesk-display';
    src: url('../f/neuehaasgrotdisp-96blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}



/*	Neue Haas Grotesk Text — 'neue-haas-grotesk-text'
—————————————————————————————————————————————————————————————————————————— */
@font-face {
    font-family: 'neue-haas-grotesk-text';
    src: url('../f/nhaasgrotesktxpro-55rg.woff') format('woff');
}
@font-face {
    font-family: 'neue-haas-grotesk-text';
    src: url('../f/nhaasgrotesktxpro-75bd.woff') format('woff');
    font-weight: bold;
}



/*	Helvetica Neue Text (extended letter-spacing) — 'helvetica-neue-text'
—————————————————————————————————————————————————————————————————————————— */
@font-face {
    font-family: 'helvetica-neue-text';
    src: url('../f/helveticaneueltstd-lt.woff') format('woff');
}
@font-face {
    font-family: 'helvetica-neue-text';
    src: url('../f/helveticaneueltstd-ltit.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'helvetica-neue-text';
    src: url('../f/helveticaneueltstd-bd.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'helvetica-neue-text';
    src: url('../f/helveticaneueltstd-bdit.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

